.maiConteiner {
    display: flex;
    gap: 
    40px;
}
.conteiner {
    display: grid;
    gap: 20px;
    background-color: white;
    border-radius: 25px 25px 0px 0px;
}
.text {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #5E7A7D;
}
.inputDiv {
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    width: 100%;
    height: 48px;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10px;
    border: none;
    border: 2px solid white;
}
.inputDiv:hover {
    border: 2px solid #26C2AE;
}
.inputDiv2 {
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    width: 100%;
    height: 48px;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10px;
    border: none;
    border: 2px solid white;
}
.inputDiv2:hover {
    border: 2px solid #E17052;
}
.input {
    width: 100%;
    outline: none;
    border: none;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: right;
    color: #00474B;
    outline: none;
}
.buttonDiv {
    display: grid;
    grid-template-columns: auto auto;
    gap: 14px;
}
.percentButton {
    background: #00474B;
    border-radius: 5px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    transition: .2s ease;
    height: 48px;
}
.percentButton:hover {
    background: #26C2AE;
    color: #00474B;
    transition: .2s ease;
}
.Custom {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    color: #00474B;
    box-sizing: border-box;
    font-size: 14px;
    border: none;
    border: 2px solid white;
}
.Custom:hover {
    border: 2px solid #26C2AE;
    border-radius: 5px;
}


@media only screen and (max-width: 412px) {
    .conteiner {
        padding: 20px;
    }
    .buttonDiv {
        grid-template-columns: repeat(2, 2fr);
    }
    .maiConteiner {
        flex-direction: column;
    }
}